
.card{
    max-width: 45rem;
    margin: 1rem auto;
    background-color: #f3e9e9;
    color: rgb(252, 71, 71);
    border-radius: 14px;
    padding: 1rem;
    box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.25);

}