.summary {
    text-align: center;
    max-width: 45rem;
    width: 90%;
    margin: auto;
    margin-top: -5rem;
    position: relative;
    background-color: #383838;
    color: white;
    border-radius: 14px;
    padding: 1rem;
    box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.25);
  }

  .list {
    list-style: none;
    width: 50%;
    
  }

  .list h3{
    text-align: start;

  }
   .price{
    text-align: start!important;
    color: orange;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0.2px;
  }
   .description{
    text-align: start!important;
    color: rgb(41, 40, 38);
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0.2px;
  }

  .card-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .add{
    width: 50%;
    text-align: end;
  }
 
  .input{

    width: 10%;
    height: 30px;
  }

  .total {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  .total .text-1{
    width: 50%;
    text-align: start;
  }
  .total .text-2{
    width: 50%;
    text-align: end;
  }
  .modal-body {
    /* 100% = dialog height, 120px = header + footer */
   
    max-height: 200px;
    overflow-y: scroll !important;
}
.devicer {
  display: block;
  height: 2px;
  background-color: #f35111;
  margin: 10px auto ;
}
.scroll-form{
  overflow-y: scroll;

  max-height: 150px;
}
 
.modal-dialog{
  max-width: 80%!important;
}